/*Estructura de css 
selector{ 
    propiedad:valor
}
*/

:root{
    --background-color: rgb(255, 245, 253);
    --strong-pink: rgba(255, 157, 235, 0.8);
}

body {
    background: var(--background-color);
}

h1 {
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    text-align: center;
    background-color: rgb(211, 211, 211, 0.5);
}

h2 {
    color: #7c795d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    line-height: 32px;
    margin: 0 0 24px;
}

.subheader {
    font-size: 26px;
    font-weight: 300;
    color: #ffcc66;
    margin: 0 0 24px;
}

header {
    background-image: url('../img/header.jpg');
    height: 250px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 60px;
    margin-bottom: 3px;
    transition: 1s;
}

li {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 15px;
    margin: 0 0 5px;
    align-items: center;
}

header h1 {
    background-color: rgba(255, 255, 255, 0.616);
    padding: 10px;
    width: 300px;
    height: 50px;
    transition: 1s;
}

p {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 15px;
    margin: 0 0 5px;
    text-align: justify;
}

a {
    color: rgb(70, 70, 70);
    text-decoration: none;
}


/*a:hover { color: rgb(150, 150, 150) }*/

nav {
    background-color: rgb(255, 206, 245, 0.7);
    position: fixed;
    display: flex;
}

nav ul li {
    border-radius: 3px;
    padding: 10px;
    background-color: var(--strong-pink);
    display: inline;
    margin: 0 10px 10px 0;
}

nav ol li a {
    text-decoration: none;
    color: white;
}
nav ul li:hover {
    border-radius: 5px;
    background-color: rgb(255, 206, 245, 0.8);
    box-shadow: 3px 3px 3px rgb(110, 110, 110);
}

nav ol li a:hover {
    color: black;
}

article {
    margin-left: 5%;
    padding-top: 60px;
    padding-right: 10px;
    background: linear-gradient(rgb(238, 184, 184), rgba(255, 255, 0, 0.52));
    width: 90%;
}


/* style puntual para mi receta*/

article#macarons {
    justify-content: center;
    background: rgb(238, 184, 184);
    padding: 60px 10px 0px 0px;
    width: 90%;
    margin: 0 5% 0;
}

img {
    margin: 5px auto;
    align-self: center;
}

.img-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    display: block;
    justify-content: center;
    align-items: center;
}

div#to-header{
    position: fixed;
    display: flex;
    bottom: 30px;
    right: 50px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border: 3px solid grey;
    transition: 500ms;

}

div#to-header:hover{
    box-shadow: 3px 3px 3px rgb(59, 59, 59);
}
