body{
    background-color: rgb(159, 220, 255);
}

.galeria{
    height: calc(500px + 3em);
    width: 550px;
    border: 3px dashed rgb(69, 186, 253);
    position: relative;
}

.galeria img{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 548px;
    height: 520px;
    opacity: 10;
    transition: 3s;
}

.img-container{
    justify-content: center;
}

img{
    width: 550px;
}

.galeria input[type=radio]{
    position: relative;
    bottom: calc( -500px -1.5em);
    left: .5em;
}


.carrusel{
    position: absolute;
    top: calc( 500px + 1.5em);
    left: .5em;
}