#ejercicioObligatorioU2 exclusions
/Java/ejercicioObligatorioU2/.idea
/Java/ejercicioObligatorioU2/out
/Java/ejercicioObligatorioU2/ejercicioObligatorioU2.iml

#TomcatServerExample exclusions
/Java/TomcatServerExample/.idea
/Java/TomcatServerExample/out
/Java/TomcatServerExample/TomcatServerExample.iml

#BaseDeDatos exclusions
/Java/BaseDeDatos/target
/Java/BaseDeDatos/.idea
/Java/BaseDeDatos/out

#tpIntegrador-CRUD exclusions
/Java/tpIntegrador-CRUD/.idea
/Java/tpIntegrador-CRUD/.idea/*
/Java/tpIntegrador-CRUD/target
/Java/tpIntegrador-CRUD/target/*
