:root{
  --green-strong: #26a846;
}

.carousel-inner-text {
  position: absolute;  
  right: 5%;
    bottom: 20%;
    left: 0%;
    color: #fff;
    text-align: end;
  }

  .green-strong{ background-color: var(--green-strong); }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(29,55,68);
    background: linear-gradient(90deg, rgba(29,55,68,1) 0%, rgba(30,83,114,1) 50%);
    min-height: 80px;
    height: max-content;
  }

  .footer-item{
    display: inline;
  }
  
  .btn-send{
    background-color: #96c93e;
    color: white;
  }
  .btn-send:hover{
    background-color: #79a331;
  }

  .discount-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 200px;
  }